body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.button-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.input-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, auto);
  align-items: center;
  gap: 10px; 
  margin: 20px 0;
}


.typography-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  gap: 20px;
}
accordion-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  gap: 20px;
}

.tooltip-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 100px;
  gap: 30px;
}
